<div id="help-window" class="help-modal" style="display: none;">
    <div class="help-content">
        <h3>Keyboard Shortcuts</h3>
        <ul>
            <li><span class="key">f</span> <span>Follow Link (Go Mode)</span></li>
            <li><span class="key">g</span> <span>Scroll to Top</span></li>
            <li><span class="key">G</span> <span>Scroll to Bottom</span></li>
            <li><span class="key">j</span> <span>Scroll Down</span></li>
            <li><span class="key">k</span> <span>Scroll Up</span></li>
            <li><span class="key">/</span> <span>Focus Search</span></li>
            <li><span class="key">t</span> <span>Toggle Theme</span></li>
            
	    <li><span class="key">[</span> <span>Toggle Left Sidebar</span></li>
	    <li><span class="key">]</span> <span>Toggle Right Sidebar</span></li>
            <li><span class="key">\</span> <span>Toggle Header</span></li>
            
            <li><span class="key">?</span> <span>Open/Close this help</span></li>
            <li><span class="key">Esc</span> <span>Focus Document</span></li>
        </ul>
    </div>
</div>
