<div class="page__header">
    <div class="header-left">
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% if config.build_search_index %}
            <a href="{{ config.extra.booktheme.home_url | default(value=config.base_url) }}" class="home-link">Home</a>
            <span class="separator">/</span>
            <span class="title-name">{{ config.title }}</span>
            <span class="separator">/</span>
            <span class="search-icon">🔎</span>
        {% endif %}
    </div>
    <div class="header-right">
	{% if page.toc %}
    	<div id="toggle-toc" class="toc-icon"><i class="fa-solid fa-list-ul"></i></div>
    	{% endif %}
    </div>
</div>
